<form [formGroup]="usersTable">
    <table class="table table-border">
        <thead class="text-nowrap">
            <th>First Name<span class="ui-column-resizer"> </span></th>
            <th>Last Name<span class="ui-column-resizer"> </span></th>
            <th>Expenses<span class="ui-column-resizer"> </span></th>
        </thead>
        <tbody>
            <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                    <td>
                        <mat-form-field>
                            <input matInput type="text" formControlName="firstName">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput type="text" formControlName="lastName">
                        </mat-form-field>
                    </td>
                    <td>
                        {{group.get("expenses").value}}
                    </td>
                    <td>
                        <mat-icon class="delete" (click)="deleteUser(i)">delete_forever</mat-icon>
                        <mat-icon class="done" (click)="userAdded(group)">done</mat-icon>
                    </td>
                </tr>
                <tr *ngIf="!group.get('isEditable').value">
                    <td>
                        {{group.get('firstName').value}}
                    </td>
                    <td>
                        {{group.get('lastName').value}}
                    </td>
                    <td>
                        {{group.get("expenses").value}}
                    </td>
                    <td>
                        <mat-icon class="edit" (click)="editUser(group)">edit</mat-icon>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="action-container">
        <button mat-raised-button type="submit" (click)="addUser()">Add user</button>
    </div>
</form>